---
import CardLaunch from "./CardLaunch.astro";
import { getLaunchesByPage } from "../utils/utils";
import { PAGE_SIZE } from "../consts";
import Pagination from "./Pagination.astro";

//1. recibir el numero de la pagin
const { page } = Astro.props;
//2. recibir los launches de esa pagina

const launches = await getLaunchesByPage(page, PAGE_SIZE);
//3. mostrarlos en un map

---
<Pagination page = {page}/>
<div
  class="conteiner px-8 py-20 grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 pb-0 mb-0 "
>
  {
    launches.map((launch) => {
      const imagen = launch.links.patch.small+"";
      return (
        <CardLaunch 
            id={launch.id} 
            name={launch.name} 
            img={imagen} 
            success={launch.success} 
            flightNumber={launch.flight_number}
            details={launch.details}
        />
      );
    })
  }
</div>
<Pagination page = {page}/>